:root {
    --background-color: #000000;    
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}