.bicicletas-lista {
    display: flex;
    gap: 40px;
    padding: 0px 20px 20px 20px;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
}

.bicicletas-lista li {
    min-width: 280px
}

.bicicletas h2 {
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.bicicletas-lista a {
    display: block;
}

.bicicletas img {
    margin-bottom: 16px;
}

.bicicletas-lista h3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bicicletas-lista h3::before {
    content: "";
    width: 12px;
    height: 8px;
    display: inline-block;
    margin-right: 8px;
    background: var(--cor-p1);
    transition: width 0.2s;
}

.bicicletas-lista a:hover h3::before {
    width: 24px;
}

.bicicletas-lista li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bicicletas {
        padding-bottom: 60px;
    }
    .bicicletas-lista {
        gap: 20px;
    }
}
